
#add-routine-form {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items:center;
  font-size: x-large;
  border: 2px solid teal; 
  margin: 10px;
}

button {
  background: #44b;
  padding: 0.5em 1em;
  margin: 10px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: normal;
  box-shadow: 0 2px 5px -2px black;
}

#add-routine-input-name{
  width:300px;
}

#add-routine-input-goal{
  width: 300px;
}